<h1> CYOA </h1>


<h2> <%= @title.capitalize %> </h2>

<p> <%= @story %> </p>

<a href= <%= "/direction/" + @choice_a %> > <%= @choice_a.capitalize %> </a>

<a href= <%= "/direction/" + @choice_b %> > <%= @choice_b.capitalize %> </a>