<h1> CYOA </h1>

<h2> <%= @direction[0] %> </h2>

<p> <%= @direction[1] %> </p>

<a href=<%= "/direction/" + @direction[2]%> > <%= @direction[2] %> </a>

<br> 

<a href=<%= "/direction/" + @direction[3]%> > <%= @direction[3] %> </a>

